<% extend('layout') %>
<div  >
    <form action="/users/educationmodel" method="post">
        <div id="divedu">
            <h2 style="margin-left: 300px">Ավելացնել համալսարաններ</h2>
            <select style="margin-left: 300px;text-align: center"  id="impedu" type="text"  name="place_of_study">
                <% universities.forEach(function(row){ %>
                <option value=' <%= row.place_of_study %> '><%= row.place_of_study %>
                    <% }) %>
            </select>
        </div>

        <div id="divedu">
            <h2 style="margin-left: 300px">Ավելացնել ֆակուլտետներ</h2>
            <input style="margin-left: 300px;text-align: center"  id="impedu" type="text" placeholder="faculty" name="faculty_name">
        </div>


        <div id="div" style="margin-left: 300px">
            <button  style="background-color: deepskyblue" id="xbtn" >Ուղարկել</button>
        </div>

        <select style="margin-left: 300px;text-align: center"  id="impedu" type="text"  name="place_of_study">
            <% faculties.forEach(function(row){ %>
            <option value=' <%= row.faculty_name %> '><%= row.faculty_name %>
                <% }) %>
        </select>

    </form>
    <div class="dvd1">
        <a class="employ" href="/users/joint">Joint</a>
    </div>
</div>
