<% extend('layout') %>
<div id="container">
    <h3 class="box-title">Joint table</h3>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>UniversityID</th>
            <th>University Name</th>
            <th>Faculty Name</th>

        </tr>
        </thead>
        <div>
            <tbody>
            <% joint.forEach(function(row){ %>
                <tr>
                    <td><%= row.id %></td>
                    <td><%= row.universityId %></td>
                    <td><%= row.universityName %></td>
                    <td><%= row.facultyName %></td>
                </tr>
            <% }) %>

            </tbody>

        </div >

    </table>
    <div class="dvd1">
        <a class="employ" href="/users/university">Համալսարաններ</a>
    </div>
</div>
